#!/usr/bin/env python
# _*_ coding:utf-8 _*_
from dynamic_reconfigure.parameter_generator_catkin import *
PACKAGE = "jie_ware"

gen = ParameterGenerator()

# 过程噪声（Q）：表示系统模型的不确定性。如果设置得太小，滤波器会认为当前状态预测已经非常准确，从而不信任新的测量值，导致滤波器输出接近于上一时刻的状态估计。
# 测量噪声（R）：表示传感器测量的不确定性。如果设置得太大，滤波器会更倾向于相信其内部的状态预测而非新的测量值；相反，如果设置得太小，滤波器将完全信任测量值，导致几乎不对数据进行平滑。

# 噪声参数
gen.add("Q_x", double_t, 0, "Process noise in x", 0.8, 0.0, 10.0)
gen.add("R_x", double_t, 0, "Measurement noise in x", 0.3, 0.0, 10.0)

gen.add("Q_y", double_t, 0, "Process noise in y", 0.8, 0.0, 10.0)
gen.add("R_y", double_t, 0, "Measurement noise in y", 0.3, 0.0, 10.0)

gen.add("Q_yaw", double_t, 0, "Process noise in yaw", 0.8, 0.0, 10.0)
gen.add("R_yaw", double_t, 0, "Measurement noise in yaw", 0.3, 0.0, 10.0)

exit(gen.generate(PACKAGE, "jie_ware", "SimpleKalmanParams"))